<!DOCTYPE HTML>
<html>
<head>
<title>League for Gamers</title>
<link href='fonts/oswald/stylesheet.css' rel='stylesheet' type='text/css'>
<link href='fonts/rosario/stylesheet.css' rel='stylesheet' type='text/css'>
<link href='fonts/digital_dismay/stylesheet.css' rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">

<!-- Bootstrap CSS Files -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Swiper Slider CSS -->
<link rel="stylesheet" href="swiper/dist/idangerous.swiper.css">

<!-- Theme CSS Files files -->
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="css/margins-paddings.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
</head>
<body class="relative">
	<header>
	</header>

<div class="page-loader-wrap">
	<img src="images/global/preloader.gif" alt="" />
</div>


	<div class="main-body-wrap">

		<div class="main-body-wrap-measures">

			<div class="logo-overlay-static">
				<a class="logo" href="#"><h1><img class="" src="images/global/logo.png" alt="Constructa" /></h1></a>
			</div>

			<div class="main-parallax-wrap overflow-hidden">
				<div class="parall-bg-image"><img class="main-bg" src="images/home/s-bg.jpg" alt="" /></div>
				<div class="parallax-layers">
					<div class="parallax-filter-dark"></div>
				</div>
			</div>

			<div class="main-body-inner-wrap">

				<div class="relative overflow-hidden section-wrapper" data-title="HOME">
					<div class="main-content-wrapper">
						<div class="main-content padding-bottom72 text-center">
							<div class="container">
								<div class="row">
									<div class="col-md-12 padding-top72">
										<a class="logo invisible" href="#"><img class="" src="images/global/logo.png" alt="" /></a>
										<h2 class="padding-top72">WE ARE STILL UNDER CONSTRUCTION</h2>
										<div class="padding-top72">
											<div class="">
												<p class="launch-time">Estimated launch date is <span>January 13th 2015</span></p>
												<div class="counter-wrapper padding-top60 padding-bottom24">
													<div class="countdown styled"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12">
										<div class="subscribe-wrapper text-center">
											<h3 class="padding-bottom24">Subscribe to recieve updates</h3>
											<form class="subscription-form">
												<div class="inline-block">
													<input class="required" type="text" placeholder="your email address" />
													<button>SUBMIT</button>
													<div class="clearfix"></div>
												</div>
											</form>
											<ul class="margin0 padding0 no-style social-nets padding-top24">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-youtube"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
												<li><a href="#"><i class="fa fa-skype"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="relative overflow-hidden section-wrapper" data-title="F A Q">

					<div class="main-content-wrapper">
						<div class="main-content padding-bottom72 text-center">
							<div class="container">
								<div class="row">
									<div class="col-md-12 padding-top72">
										<a class="logo invisible" href="#"><img class="" src="images/global/logo.png" alt="" /></a>
										<h2 class="padding-top72">Frequently Asked Questions</h2>
										<p class="padding-top24 about-lead-text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.</p>
										<div class="padding-top48">
											<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
												<div class="panel panel-default">
													<div class="panel-heading" role="tab" id="headingOne">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span>Q: </span>Collapsible Group Item #1</a>
														</h4>
													</div>
													<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
														<div class="panel-body">
															<span class="faq-answer-letter">A: </span>
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading" role="tab" id="headingTwo">
														<h4 class="panel-title">
															<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span>Q: </span>Collapsible Group Item #2</a>
														</h4>
													</div>
													<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
														<div class="panel-body">
															<span class="faq-answer-letter">A: </span>
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading" role="tab" id="headingThree">
														<h4 class="panel-title">
															<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><span>Q: </span>Collapsible Group Item #3</a>
														</h4>
													</div>
													<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
														<div class="panel-body">
															<span class="faq-answer-letter">A: </span>
															Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="relative overflow-hidden section-wrapper" data-title="ABOUT US">
					<div class="main-content-wrapper">
						<div class="main-content padding-bottom72 text-center">
							<div class="container">
								<div class="row">
									<div class="col-md-12 padding-top72">
										<a class="logo invisible" href="#"><img class="" src="images/global/logo.png" alt="" /></a>
										<h2 class="padding-top72">ABOUT US</h2>
										<p class="padding-top24 about-lead-text">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.</p>
									</div>
									<div class="clearfix"></div>
									<div class="col-md-12 relative">
										<div class="row">
											<div class="col-md-4 padding-top72 about-element">
												<div class="relative about-single-block">
													<div class="feature-icon-wrap"><i class="fa fa-users"></i></div>
													<div class="feature-text-wrap">
														<p class="feature-headline">DEDICATED TEAM</p>
														<p class="padding-top24">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
													</div>
													<a class="feature-cta margin-top12" href="#">Read More</a>
												</div>
											</div>
											<div class="col-md-4 padding-top72 about-element">
												<div class="relative about-single-block">
													<div class="feature-icon-wrap"><div class="feature-icon-border"><i class="fa fa-paint-brush"></i></div></div>
													<div class="feature-text-wrap">
														<p class="feature-headline">MODERN DESIGN</p>
														<p class="padding-top24">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
													</div>
													<a class="feature-cta margin-top12" href="#">Read More</a>
												</div>
											</div>
											<div class="col-md-4 padding-top72 about-element">
												<div class="relative about-single-block">
													<div class="feature-icon-wrap"><div class="feature-icon-border"><i class="fa fa-folder"></i></div></div>
													<div class="feature-text-wrap">
														<p class="feature-headline">WELL FORMATED CODE</p>
														<p class="padding-top24">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
													</div>
													<a class="feature-cta margin-top12" href="#">Read More</a>
												</div>
											</div>
											<div class="clerafix"></div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="relative overflow-hidden section-wrapper" data-title="CONTACT">
					<div class="main-content-wrapper">
						<div class="main-content padding-bottom72 text-center">
							<div class="container">
								<div class="row">
									<div class="col-md-12 padding-top72">

										<a class="logo invisible" href="#"><img class="" src="images/global/logo.png" alt="" /></a>

										<div class="map-wrapper text-left">
											<div class="relative">
												<div id="map-canvas" class="map-canvas"></div>
											</div>
										</div>
										<div class="row text-left">
											<div class="col-md-4 padding-top36">
												<div class="white-wrapper">
													<div class="elem-headline"><h3>Where we are at!</h3></div>
													<div class="hor-separator"></div>
													<ul class="margin0 padding24 no-style contact-data">
														<li><i class="fa fa-globe"></i> 198 West 21th Street, Suite 721</li>
														<li>New York, NY 10010</li>
														<li><i class="fa fa-envelope"></i> someone@somewhere.com</li>
														<li><i class="fa fa-phone-square"></i> +66(0) 101 1001 101</li>
														<li><i class="fa fa-fax"></i> +66(0) 101 1001 101</li>
													</ul>
													<div class="social-networks padding24">
														<ul class="margin0 padding0 no-style social-nets">
															<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
															<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
															<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
															<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
															<li><a href="#"><i class="fa fa-skype"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<div class="col-md-8 padding-top36">
												<div class="white-wrapper contact-wrapper">
													<div class="elem-headline"><h3>Don't be a stranger</h3></div>
													<div class="hor-separator"></div>
													<div class="contact-form">
														<form class="contact-form" method="POST" action="contact.php" data-parsley-validate >
															<div class="padding12 padding-top24 padding-bottom24">
																<div class="col-md-6 text-left">
																	<div class="input-wrap">
																		<div class="relative"><input data-parsley-trigger="change" required data-parsley-minlength="3" type="text" placeholder="name*" name="name" /></div>
																		<div class="relative"><input data-parsley-trigger="change" required data-parsley-type="email" type="email" placeholder="email address*" name="e-mail" /></div>
																		<input type="text" placeholder="phone number" name="phone" />
																	</div>
																</div>
																<div class="col-md-6">
																	<textarea data-parsley-maxlength="300" placeholder="your message" name="message"></textarea>
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="clearfix"></div>
															<button type="submit" class="btn contact-btn">SUBMIT</button>
														</form>
														<div class="contact-overlay"><div><div class="content-element"></div></div></div>
													</div>
												</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="page-nav-wrap">
				<a class="left-nav-arrow" href="#"><i class="fa fa-angle-left"></i><span>CONTACT</span><div class="clearfix"></div><div class="block-background"></div></a>
				<a class="right-nav-arrow" href="#"><i class="fa fa-angle-right"></i><span>F A Q</span><div class="clearfix"></div><div class="block-background"></div></a>
			</div>
			
		</div>

	</div>



	<footer>



	</footer>

<!-- jQuery Library -->
<script type="text/javascript" src="js/jquery.1.11.0.min.js"></script>

<!-- Bootstrap JS Files -->
<!-- Since this template is not using Bootstrap elements for preview, this script is commented to make it run a bit faster.
	If you want to use bootstrap elements that are using javascript functions, simply remove comment around it. -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Swiper Slider JS -->
<script src="swiper/dist/idangerous.swiper.min.js"></script>

<!-- Counter -->
<script type="text/javascript" src="rendro-countdown/dest/jquery.countdown.js"></script>

<!-- Parsley Form Validation -->
<script type="text/javascript" src="parsley.js-2.0.5/dist/parsley.min.js"></script>

<!-- Images Loading Script -->
<script type="text/javascript" src="waitForImages/src/jquery.waitforimages.js"></script>

<!-- Lazy Load Script -->
<script type="text/javascript" src="lazyload/lazyload.min.js"></script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script>

<!-- Theme JS Files files -->
<script type="text/javascript" src="js/common.js"></script>

</body>
</html>
